$OPTIONS EXEC.EQ.PERF
$OPTIONS INFO.ABORT
      SUBROUTINE FB.2.1.DIST(F.DIV,F.EXP,ACTUAL.CHG,DTAB,QI)
$OPTIONS HEADER.EJECT
ERRMSG=''
* SUBROUTINE TO ENTER EXPENSE DISTRIBUTIONS
*
* FREIGHT BILLING PACKAGE
*
* AUTHOR: BRIAN M. QUEEN
* DATE: JANUARY 13, 1993

* PICK COMPILER INFORMATION
* ~~~~~~~~~~~~~~~~~~~~~~~~~
*  ~PICK-FILE: FBBP
*  ~PICK-RECORD: FB.2.1.DIST
*
*  ~ PICK-FILE: BP
*  ~ PICK-RECORD: JIM
*
*  ~COMPILE-REC: YES
*  ~AUTO-ANSWER: NO
*  ~RUN-REC: NO
*
*
* Initialize variables
*
     ACTUAL.CHG.TMP= ACTUAL.CHG         ;* JIM - ADDED LINE

      PROMPT''
      OPT=QI
      IF OPT='I' THEN
        INQUIRE=1
        MODE='EDIT'
      END ELSE
        INQUIRE=0
        MODE='INPUT'
      END
      LN=0
      CALL FB.CLEAR.WINDOW
*
* Display distribution headings
*
      IF OPT NE 'V' THEN
        CRT @(36,6):"-------------- Distribution ---------------"
*       CRT @(36,7):"Lin Exp Code":@(56):"Exp Sub":@(73):"Amount"
        CRT @(36,7):"Lin Exp Code":@(73):"Amount"
        CRT @(36,8):STR("-",43)
      END ELSE
        CRT @(39,6):"------------- Distribution -------------"
        CRT @(39,7):" Exp Code":@(56):"Exp Sub":@(73):"Amount"
        CRT @(40,8):STR("-",39)
      END
*
* Start input
*
      PAGE=1
      GOSUB 9000
*
* Enter expense distribution line number.
*
100   IF MODE='INPUT' THEN
        LN=LN+1
        QI=LN
        IF LN GT STOP THEN
          PAGE=PAGE+1
          GOSUB 9000
        END
      END ELSE
        HELP="Enter Line Num. ''=End. 'B'=Back. 'F'=Forward page. 'EX'=Exit."
        CALL GEN.IN(36,18,'Enter line number. ###','',Q,0,3,'','',0,-3,18,0,QI,HELP,0,23)
      END
      QI=OCONV(QI,'MCU')
      BEGIN CASE
        CASE QI='B'
          PAGE=PAGE-1
          IF PAGE=0 THEN PAGE=1
          GOSUB 9000
        CASE QI='F'
          PAGE=PAGE+1
          GOSUB 9000
        CASE QI=''
          GOTO 9900
        CASE QI='X'
          CALL FB.CLEAR.WINDOW
          RETURN
        CASE QI='EX'
          STOP
        CASE NUM(QI)
          IF INQUIRE THEN
            CALL ELINE('Can not access detail in inquiry.')
          END ELSE
            SEL=QI
            GOSUB 8000
            IF QI='' & OPT='V' THEN RETURN
            IF QI='X' THEN
              CALL FB.CLEAR.WINDOW
              RETURN
            END
          END
      END CASE
      GOTO 100
*-----------------------------------------------------------------------
*
* INTERNAL SUBROUTINES
*
*-----------------------------------------------------------------------
*
* Enter expense codes
*
8000  IF SEL LT START ! SEL GT STOP THEN
        CALL ELINE('Invalid entry.')
        RETURN
      END
      GOSUB 9100
*
8010  IF OPT='V' THEN
        MASK=SPACE(32)
        HELP="Enter Major Code. ''=End. 'X'=Back. 'EX'=Exit."
      END ELSE
        HELP="Enter Major Code. ''=Accept. 'D'=Delete. 'E'=Change Mode. 'X'=Back. 'EX'=Exit."
        MASK=DTAB<1,SEL>'L#32'
      END
      CALL GEN.IN(40,LINE,MASK,'',Q,0,32,'','',2,-32,LINE,0,QI,HELP,0,23)
      QI=OCONV(QI,'MCU')
      BEGIN CASE
        CASE QI='EX'
          STOP
        CASE QI='X'
          IF OPT NE 'V' THEN CRT @(40,LINE):DTAB<1,SEL>'L#32'
          RETURN
        CASE QI='D' & OPT NE 'V'
          DTAB=DELETE(DTAB,1,SEL)
          DTAB=DELETE(DTAB,2,SEL)
          DTAB=DELETE(DTAB,3,SEL)
          GOSUB 9000
          RETURN
        CASE QI='E' & OPT NE 'V'
          MODE='EDIT'
          CRT @(40,LINE):DTAB<1,SEL>'L#32'
          RETURN
        CASE QI='' & OPT NE 'V'
          Q=DTAB<1,SEL>
          IF Q='' & MODE='INPUT' THEN
            MODE='EDIT'
            RETURN
          END
          IF Q='' THEN RETURN
        CASE QI='' & OPT = 'V'
          X=DCOUNT(DTAB<1>,CHAR(253))
          FOR I=1 TO X
            IF DTAB<4,I> NE '*' THEN
              CALL ELINE('All expense codes have not been verified.')
              GOTO 8010
            END
          NEXT I
*         MODE='EDIT'
*         GOSUB 9000
          RETURN
        CASE OPT NE 'V'
          DTAB<1,SEL>=Q
      END CASE
*
      IF OPT NE 'V' THEN
        CODE=DTAB<1,SEL>
        GOSUB 8090
        IF ACK='ERR' THEN GOTO 8010
        CRT @(40,LINE):DTAB<1,SEL>'L#32'
      END ELSE
        EXP.DIST=Q
      END
*
8020  IF OPT='V' THEN
        MASK=SPACE(17)
        HELP="Enter Sub Code. ''=End. 'X'=Back to major. 'EX'=Exit."
      END ELSE
        HELP="Enter Sub Code ''=Accept 'D'=Del 'E'=Change Mode 'X'=Back 'EX'=Exit '#'=Erase"
        MASK=DTAB<2,SEL>'L#17'
      END
      IF QI='X' THEN GO 8010 ; ** Data Entry Does not Use 05/15/95
      GOTO 8030 ; ** Data Entry Does not Use 05/15/95
      CALL GEN.IN(56,LINE,MASK,'',Q,0,15,'','',2,-15,LINE,0,QI,HELP,0,23)
      QI=OCONV(QI,'MCU')
      BEGIN CASE
        CASE QI='X'
          IF OPT NE 'V' THEN
            CRT @(56,LINE):DTAB<2,SEL>'L#15'
          END ELSE
            CRT @(56,LINE):SPACE(15)
          END
          GOTO 8010
        CASE QI='EX'
          STOP
        CASE QI='' & OPT NE 'V'
          NULL
        CASE OPT NE 'V'
          DTAB<2,SEL>=QI
        CASE OPT='V'
          SUB.DIST=Q
          VERIFIED=0
          X=DCOUNT(DTAB<1>,CHAR(253))
          FOR I=1 TO X
            IF DTAB<1,I>'R#20'=EXP.DIST'R#20' & DTAB<2,I>'R#20'=SUB.DIST'R#20' THEN VERIFIED=I
          NEXT I
          IF VERIFIED THEN
*           CRT @(40,LINE):EXP.DIST'L#17':' ':SUB.DIST'L#13'
            CRT @(40,LINE)EXP.DIST'L#32'
          END ELSE
            CALL ELINE('Invalid expense or sub expense code.')
            GOTO 8020
          END
          BACK.FLAG=0
      END CASE
*
      IF OPT NE 'V' THEN
        IF DTAB<2,SEL>='#' THEN DTAB<2,SEL>=''; CRT @(56,LINE):SPACE(15):
        CODE=DTAB<2,SEL>
        GOSUB 8090
        IF ACK='ERR' THEN GOTO 8020
        CRT @(56,LINE):DTAB<2,SEL>
      END
*
8030  IF OPT='V' THEN
        MASK=SPACE(7)
      END ELSE
        IF DTAB<3,SEL>+0 = 0 THEN                ;* JIM - ADDED LINE
            DTAB<3,SEL> = ACTUAL.CHG.TMP         ;* JIM - ADDED LINE
            ACTUAL.CHG.TMP = 0                   ;* JIM - ADDED LINE
        END                                      ;* JIM - ADDED LINE
        MASK=DTAB<3,SEL>'R26#7'
      END
      HELP="Enter Expense Amount. ''=Accept. 'X'=Back to sub. 'EX'=Exit."
      CALL GEN.IN(72,LINE,MASK,'AMT2',Q,0,7,'','',2,-7,LINE,0,QI,HELP,0,23)
      QI=OCONV(QI,'MCU')
      BEGIN CASE
        CASE QI='X'
          IF OPT NE 'V' THEN
            CRT @(72,LINE):DTAB<3,SEL>'R26#7'
          END ELSE
            CRT @(72,LINE):SPACE(7)
          END
          GOTO 8020
        CASE QI='EX'
          STOP
        CASE QI='' & OPT NE 'V'
          NULL
        CASE OPT NE 'V'
          DTAB<3,SEL>=Q
        CASE OPT='V'
          EXP.AMT=Q'R0'
          IF EXP.AMT NE DTAB<3,VERIFIED> THEN
            CALL ELINE('Invalid expense amount.')
            GOTO 8030
          END
          BACK.FLAG=0
          DTAB<4,VERIFIED>='*'
      END CASE
      CRT @(72,LINE):DTAB<3,SEL>'R26#7'
      RETURN
*
* Check for valid expense code
*
8090  IF CODE='' THEN ACK='' ELSE
        ACK=''
        READV DESC FROM F.EXP,CODE,1 ELSE
          CALL ELINE('ERROR! - ':CODE:' is not on file!')
          ACK='ERR'
*8095      CRT @(0,22):CHAR(7):CODE:" not on file. Do you want to add?(Y/N) ":
*          INPUT ACK,1
*          CRT @(0,22):@(-4):
*          ACK=OCONV(ACK,'MCU')
*          IF ACK='Y' ! ACK='N' ELSE GOTO 8095
*          IF ACK='N' THEN
*            ACK='ERR'
*            RETURN
*          END
**
*8099      CRT @(0,22):@(-4):"Enter description ":
*          INPUT DESC:
*          CRT @(0,22):@(-4):'Is the description - ':DESC:' correct?(Y/N) :':
*          INPUT ACK,1:
*          ACK=OCONV(ACK,'MCU')
*          CRT @(0,22):@(-4):
*          IF ACK='N' THEN GOTO 8099
*          IF ACK='Y' THEN WRITEV DESC ON F.EXP,CODE,1
        END
      END
      RETURN
*
* Print page
*
9000  START=(PAGE*9)-8
      STOP=START+8
      FOR SEL=START TO STOP
        GOSUB 9100
        IF OPT NE 'V' THEN
          IF DTAB<1,SEL>='' THEN
            CRT @(36,LINE):SEL'L#3':@(-4):
          END ELSE
*           CRT @(36,LINE):SEL'L#3':' ':DTAB<1,SEL>'L#17':' ':DTAB<2,SEL>'L#13':' ':DTAB<3,SEL>'R26#7'
            CRT @(36,LINE):SEL'L#3':' ':DTAB<1,SEL>'L#32':DTAB<3,SEL>'R26#7'
          END
        END
      NEXT SEL
      RETURN
*
* Calculate line
*
9100  X=REM(SEL,9)
      IF X=0 THEN X=9
      LINE=8+X
      RETURN
*
* Compress expense codes and return
*
9900  IF INQUIRE ELSE
        X=DCOUNT(DTAB<1>,CHAR(253))
        FOR I=X TO 1 STEP -1
          IF DTAB<1,I>='' THEN
            DTAB=DELETE(DTAB,1,I)
            DTAB=DELETE(DTAB,2,I)
            DTAB=DELETE(DTAB,3,I)
          END
        NEXT I
*
* Check for equal totals
*
        TOT=0
        X=DCOUNT(DTAB<1>,CHAR(253))
        FOR I=1 TO X
          TOT=TOT+DTAB<3,I>
        NEXT I
        IF TOT NE ACTUAL.CHG THEN
          CALL ELINE('Expense distributions are not equal to actual charges.')
          GOSUB 9000
          GOTO 100
        END
      END
      CALL FB.CLEAR.WINDOW
      RETURN

*
*
*
*
