SUBROUTINE CRX.DIST(PART.NO,W.ITEM.ID)
*
***  PRODUCES A NUMBER BETWEEN 1 AND n SEE PART.NO = MOD(CNTY,n) below
*
* Written  April 2008 by Neil CG Pratt
*
*************************************************************************************************************************************
**** VERRRY !!!! IMPORTANT !!!! *** VERRRY !!!! IMPORTANT !!!! **** VERRRY !!!! IMPORTANT !!!! ****** VERRRY !!!! IMPORTANT !!!! ****
*************************************************************************************************************************************
****                                                                                                                             ****
**** This subroutine is used as an ITYPE routine to determine which Part Number/File number a record goes into for the           ****
**** Distributed file FB.BILLS.CRX.DF.                                                                                           ****
****                                                                                                                             ****
**** Changing the program will affect the way in which records are distributed to the Part files and may                         ****
**** cause some records or whole part files to become orphaned and unavailable.                                                  ****
****                                                                                                                             ****
*************************************************************************************************************************************
**** VERRRY !!!! IMPORTANT !!!! *** VERRRY !!!! IMPORTANT !!!! **** VERRRY !!!! IMPORTANT !!!! ****** VERRRY !!!! IMPORTANT !!!! ****
*************************************************************************************************************************************
*
N.PARTS = 31   ; * NB!!!! VERY IMPORTANT TAKE HEED >>>>>>>>>>>>>>>>>> DON'T CHANGE THIS!!!!
*
*
NEW.STR = OCONV(W.ITEM.ID,"MCN")
*
NEW.LEN = LEN(NEW.STR)
CNTY = 0
FOR KK = 1 TO NEW.LEN
    K.CHAR = NEW.STR[KK,1]
    CNTY += SEQ(K.CHAR)
NEXT KK
*
PART.NO = MOD(CNTY,N.PARTS)
PART.NO = INT(PART.NO)
PART.NO += 1
IF PART.NO LE "0" OR PART.NO = "0" OR PART.NO = "" THEN PART.NO = N.PARTS
IF NUM(PART.NO) THEN NULL ELSE PART.NO = N.PARTS
*
RETURN
